*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
PinMaster/src/main/gen
VPI/build/generated
VPI/build
*.apk
SecurePref/build
library/
maven_push.gradle
README.md
