<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        >
    <application>

        <meta-data android:name="AA_DB_NAME" android:value="@string/dbname"/>
        <meta-data android:name="AA_DB_VERSION" android:value="2" />
        <meta-data android:name="AA_MODELS" android:value=" com.sgo.hpku.Beans.communityModel,
                                                            com.sgo.hpku.Beans.friendModel,
                                                            com.sgo.hpku.Beans.myFriendModel,
                                                            com.sgo.hpku.Beans.listTimeLineModel,
                                                            com.sgo.hpku.Beans.listHistoryModel,
                                                            com.sgo.hpku.Beans.likeModel,
                                                            com.sgo.hpku.Beans.commentModel,
                                                            com.sgo.hpku.Beans.BalanceModel" />
    </application>
</manifest>
