<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        >
    <application>

        <meta-data android:name="AA_DB_NAME" android:value="@string/dbname"/>
        <meta-data android:name="AA_DB_VERSION" android:value="0" />
        <meta-data android:name="AA_MODELS" android:value=" com.sgo.saldomu.Beans.communityModel,
                                                            com.sgo.saldomu.Beans.friendModel,
                                                            com.sgo.saldomu.Beans.myFriendModel,
                                                            com.sgo.saldomu.Beans.listTimeLineModel,
                                                            com.sgo.saldomu.Beans.listHistoryModel,
                                                            com.sgo.saldomu.Beans.likeModel,
                                                            com.sgo.saldomu.Beans.commentModel"/>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.sgo.saldomu"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>
</manifest>
